<h1>Burger Devouring Time!</h1>

<h2 class = "left">Burgers that need to be Eaten!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> cats/cat-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2 class ="left">Burgers that have been Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> cats/cat-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<div class="centering-group">
  <h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleep"> What needs to happen to the new burger</label><br>
    <input type="radio" name="devoured" value="1" checked> Needs to be Eaten!<br>
    <input type="radio" name="devoured" value="0"> Already devoured
  </div>

  <button type="submit">Add Burger</button>
</form>
</div>

